

.natebtn {
  background-color: #000099;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  box-shadow: 0 0 0 0 #000055;
  font-size: 0.5cm;

}

.natebtn:hover {
  margin-top: 3px;
  box-shadow: 0 0 2px 2px #000055;

}

body {
  "bold_folder_labels": true,
  "caret_extra_bottom": 0,
  "caret_extra_top": 0,
  "caret_extra_width": 2,
  "caret_style": "phase",
  "create_window_at_startup": false,
  "cross_width": 12,
  "default_encoding": "UTF-8",
  "fade_fold_buttons": false,
  "font_options": "subpixel_antialias",
  "font_size": 18,
  "highlight_active_indent_guide": true,
  "highlight_line": true,
  "highlight_modified_tabs": true,
  "hot_exit": false,
  "ignored_packages":
  [
    "Vintage"
  ],
  "remember_open_files": false,
  "shift_tab_unindent": true,
  "show_cross": true,
  "show_multiple_cross": true,
  "tab_size": 2,
  "translate_tabs_to_spaces": true,
  "trim_trailing_white_space_on_save": true,
  "use_simple_full_screen": true,
  "vintage_start_in_command_mode": true
}